// فقط core Material
@use '@angular/material' as mat;

@include mat.core();

// تعریف رنگ‌ها با CSS variables
:root {
  --app-primary: #1976d2; // آبی
  --app-secondary: #e91e63; // صورتی
  --app-tertiary: #009688; // سبزآبی
  --app-error: #f44336; // قرمز
}

// CSS عمومی
html {
  font-family: 'Roboto, sans-serif';
}

body {
  margin: 0;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  color-scheme: light;
}
